<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tousereplica -->
      <package
            uri="http://www.misc.com/touse/moplaf/replica/model/0.1"
            class="com.misc.touse.moplaf.tousereplica.ToUseReplicaPackage"
            genModel="model/tousereplica.genmodel"/>
   </extension>

</plugin>
