<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.core.runtime.applications"
         id="TousekpiviewEditorAdvisorApplication">
      <!-- @generated tousekpiview -->
      <application>
         <run class="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisor$Application"/>
      </application>
   </extension>


   <extension point="org.eclipse.ui.perspectives">
      <!-- @generated tousekpiview -->
      <perspective
            name="%_UI_Perspective_label"
            class="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisor$Perspective"
            id="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <!-- @generated tousekpiview -->
      <command
            name="%_UI_Menu_OpenURI_label"
            description="%_UI_Menu_OpenURI_description"
            categoryId="org.eclipse.ui.category.file"
            id="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisorOpenURICommand"/>
      <command
            name="%_UI_Menu_Open_label"
            description="%_UI_Menu_Open_description"
            categoryId="org.eclipse.ui.category.file"
            id="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisorOpenCommand"/>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <!-- @generated tousekpiview -->
      <key
            commandId="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisorOpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisorOpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated tousekpiview -->
      <actionSet
            label="%_UI_TousekpiviewEditorAdvisor_ActionSet_label"
            visible="true"
            id="TousekpiviewEditorAdvisorActionSet">
         <action
               label="%_UI_Menu_About_label"
               class="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisor$AboutAction"
               menubarPath="help/additions"
               id="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisorAboutAction"/>
         <action
               label="%_UI_Menu_OpenURI_label"
               definitionId="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisorOpenURICommand"
               class="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisorOpenURIAction"/>
         <action
               label="%_UI_Menu_Open_label"
               definitionId="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisorOpenCommand"
               class="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisor$OpenAction"
               menubarPath="file/additions"
               id="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.TousekpiviewEditorAdvisorOpenAction"/>
      </actionSet>
   </extension>

   <extension point="org.eclipse.ui.actionSets">
      <!-- @generated tousekpiview -->
      <actionSet
            label="%_UI_ToUseKpiViewModelWizard_ActionSet_label"
            visible="true"
            id="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.ToUseKpiViewActionBarContributorActionSet">
         <action
               label="%_UI_ToUseKpiViewModelWizard_label"
               class="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.ToUseKpiViewActionBarContributor$NewAction"
               menubarPath="file/new/additions"
               id="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.ToUseKpiViewActionBarContributorNewAction"/>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <!-- @generated tousekpiview -->
      <editor
            id="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.ToUseKpiViewEditorID"
            name="%_UI_ToUseKpiViewEditor_label"
            icon="icons/full/obj16/ToUseKpiViewModelFile.gif"
            extensions="tousekpiview"
            class="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.ToUseKpiViewEditor"
            contributorClass="com.misc.touse.moplaf.kpiview.tousekpiview.presentation.ToUseKpiViewActionBarContributor">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.misc.touse.moplaf.kpiview.emf.editor.TousekpiviewEditorAdvisorApplication"
            name="ToUseKPI">
         <property
               name="appName"
               value="ToUseKPI">
         </property>
      </product>
   </extension>
</plugin>
