<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="com.misc.touse.moplaf.propagator.design.Activator"
               id="com.misc.touse.moplaf.propagator.design"
	       name="tousepropagator">
    </component>
  </extension>
</plugin>
