<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ToUseTimeView -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.touse.moplaf.timeview.tousetimeview.presentation.TousetimeviewModelWizardID"
            name="%_UI_TousetimeviewModelWizard_label"
            class="com.misc.touse.moplaf.timeview.tousetimeview.presentation.TousetimeviewModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TousetimeviewModelFile.gif">
         <description>%_UI_TousetimeviewModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ToUseTimeView -->
      <editor
            id="com.misc.touse.moplaf.timeview.tousetimeview.presentation.TousetimeviewEditorID"
            name="%_UI_TousetimeviewEditor_label"
            icon="icons/full/obj16/TousetimeviewModelFile.gif"
            extensions="tousetimeview"
            class="com.misc.touse.moplaf.timeview.tousetimeview.presentation.TousetimeviewEditor"
            contributorClass="com.misc.touse.moplaf.timeview.tousetimeview.presentation.TousetimeviewActionBarContributor">
      </editor>
   </extension>

</plugin>
