<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ToUserSolver -->
      <package
            uri="http://com.misc.touse.moplaf.solver.emf"
            class="com.misc.touse.moplaf.solver.tousesolver.TousesolverPackage"
            genModel="model/ToUserSolver.genmodel"/>
   </extension>

</plugin>
