<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ToUseTimeLine -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.touse.moplaf.timeline.tousetimeline.presentation.ToUseTimeLineModelWizardID"
            name="%_UI_ToUseTimeLineModelWizard_label"
            class="com.misc.touse.moplaf.timeline.tousetimeline.presentation.ToUseTimeLineModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ToUseTimeLineModelFile.gif">
         <description>%_UI_ToUseTimeLineModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ToUseTimeLine -->
      <editor
            id="com.misc.touse.moplaf.timeline.tousetimeline.presentation.ToUseTimeLineEditorID"
            name="%_UI_ToUseTimeLineEditor_label"
            icon="icons/full/obj16/ToUseTimeLineModelFile.gif"
            extensions="tousetimeline"
            class="com.misc.touse.moplaf.timeline.tousetimeline.presentation.ToUseTimeLineEditor"
            contributorClass="com.misc.touse.moplaf.timeline.tousetimeline.presentation.ToUseTimeLineActionBarContributor">
      </editor>
   </extension>
   <extension
         point="com.misc.common.moplaf.propagator2.propagator_function_manager">
      <manager
            class="com.misc.touse.moplaf.timeline.tousetimeline.calc.util.ToUseTimeLinePropagatorFunctionManager"
            target_file_extension="tousetimeline">
      </manager>
   </extension>
</plugin>
