<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ToUseGridView -->
      <package
            uri="http://www.misc.com/touse/moplaf/gridview/model/0.1"
            class="com.misc.touse.moplaf.gridview.tousegridview.ToUseGridViewPackage"
            genModel="model/ToUseGridView.genmodel"/>
   </extension>

</plugin>
