<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tousegis -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.touse.moplaf.gistouse.presentation.ToUseGisModelWizardID"
            name="%_UI_ToUseGisModelWizard_label"
            class="com.misc.touse.moplaf.gistouse.presentation.ToUseGisModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ToUseGisModelFile.gif">
         <description>%_UI_ToUseGisModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tousegis -->
      <editor
            id="com.misc.touse.moplaf.gistouse.presentation.ToUseGisEditorID"
            name="%_UI_ToUseGisEditor_label"
            icon="icons/full/obj16/ToUseGisModelFile.gif"
            extensions="tousegis"
            class="com.misc.touse.moplaf.gistouse.presentation.ToUseGisEditor"
            contributorClass="com.misc.touse.moplaf.gistouse.presentation.ToUseGisActionBarContributor">
      </editor>
   </extension>
</plugin>
