<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ToUsePropagatorCalc -->
      <package
            uri="http://www.misc.com/touse/moplaf/propagator2/calc/model/0.1"
            class="com.misc.touse.moplaf.tousepropagator2calc.ToUsePropagatorCalcPackage"
            genModel="model/ToUsePropagatorCalc.genmodel"/>
   </extension>

</plugin>
