<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated tousejob -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.touse.moplaf.tousejob.presentation.ToUseJobModelWizardID"
            name="%_UI_ToUseJobModelWizard_label"
            class="com.misc.touse.moplaf.tousejob.presentation.ToUseJobModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ToUseJobModelFile.gif">
         <description>%_UI_ToUseJobModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated tousejob -->
      <editor
            id="com.misc.touse.moplaf.tousejob.presentation.ToUseJobEditorID"
            name="%_UI_ToUseJobEditor_label"
            icon="icons/full/obj16/ToUseJobModelFile.gif"
            extensions="tousejob"
            class="com.misc.touse.moplaf.tousejob.presentation.ToUseJobEditor"
            contributorClass="com.misc.touse.moplaf.tousejob.presentation.ToUseJobActionBarContributor">
      </editor>
   </extension>
</plugin>
