<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ToUseReport -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.touse.moplaf.report.ToUseReport.presentation.ToUseReportModelWizardID"
            name="%_UI_ToUseReportModelWizard_label"
            class="com.misc.touse.moplaf.report.ToUseReport.presentation.ToUseReportModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ToUseReportModelFile.gif">
         <description>%_UI_ToUseReportModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ToUseReport -->
      <editor
            id="com.misc.touse.moplaf.report.ToUseReport.presentation.ToUseReportEditorID"
            name="%_UI_ToUseReportEditor_label"
            icon="icons/full/obj16/ToUseReportModelFile.gif"
            extensions="tousereport"
            class="com.misc.touse.moplaf.report.ToUseReport.presentation.ToUseReportEditor"
            contributorClass="com.misc.touse.moplaf.report.ToUseReport.presentation.ToUseReportActionBarContributor">
      </editor>
   </extension>

</plugin>
