<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tousesolvercp -->
      <package
            uri="http://www.misc.com/touse.moplaf.solver.cp.emf"
            class="tousesolvercp.TousesolvercpPackage"
            genModel="model/tousesolvercp.genmodel"/>
   </extension>

</plugin>
