<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ToUseGridView -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.touse.moplaf.gridview.tousegridview.presentation.ToUseGridViewModelWizardID"
            name="%_UI_ToUseGridViewModelWizard_label"
            class="com.misc.touse.moplaf.gridview.tousegridview.presentation.ToUseGridViewModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ToUseGridViewModelFile.gif">
         <description>%_UI_ToUseGridViewModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ToUseGridView -->
      <editor
            id="com.misc.touse.moplaf.gridview.tousegridview.presentation.ToUseGridViewEditorID"
            name="%_UI_ToUseGridViewEditor_label"
            icon="icons/full/obj16/ToUseGridViewModelFile.gif"
            extensions="tousegridview"
            class="com.misc.touse.moplaf.gridview.tousegridview.presentation.ToUseGridViewEditor"
            contributorClass="com.misc.touse.moplaf.gridview.tousegridview.presentation.ToUseGridViewActionBarContributor">
      </editor>
   </extension>

</plugin>
