<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ToUsePropagator -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.touse.moplaf.tousepropagator2.presentation.ToUsePropagatorModelWizardID"
            name="%_UI_ToUsePropagatorModelWizard_label"
            class="com.misc.touse.moplaf.tousepropagator2.presentation.ToUsePropagatorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ToUsePropagatorModelFile.gif">
         <description>%_UI_ToUsePropagatorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ToUsePropagator -->
      <editor
            id="com.misc.touse.moplaf.tousepropagator2.presentation.ToUsePropagatorEditorID"
            name="%_UI_ToUsePropagatorEditor_label"
            icon="icons/full/obj16/ToUsePropagatorModelFile.gif"
            extensions="tousepropagator"
            class="com.misc.touse.moplaf.tousepropagator2.presentation.ToUsePropagatorEditor"
            contributorClass="com.misc.touse.moplaf.tousepropagator2.presentation.ToUsePropagatorActionBarContributor">
      </editor>
   </extension>
   <extension
         point="com.misc.common.moplaf.propagator2.propagator_function_manager">
      <manager
            class="com.misc.touse.moplaf.tousepropagator2calc.util.ToUsePropagatorPropagatorFunctionManager"
            target_file_extension="tousepropagator">
      </manager>
   </extension>

</plugin>
