<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ToUseSolverLp -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.misc.touse.moplaf.solver.tousesolverlp.presentation.ToUseSolverLpModelWizardID"
            name="%_UI_ToUseSolverLpModelWizard_label"
            class="com.misc.touse.moplaf.solver.tousesolverlp.presentation.ToUseSolverLpModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ToUseSolverLpModelFile.gif">
         <description>%_UI_ToUseSolverLpModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ToUseSolverLp -->
      <editor
            id="com.misc.touse.moplaf.solver.tousesolverlp.presentation.ToUseSolverLpEditorID"
            name="%_UI_ToUseSolverLpEditor_label"
            icon="icons/full/obj16/ToUseSolverLpModelFile.gif"
            extensions="tousesolverlp"
            class="com.misc.touse.moplaf.solver.tousesolverlp.presentation.ToUseSolverLpEditor"
            contributorClass="com.misc.touse.moplaf.solver.tousesolverlp.presentation.ToUseSolverLpActionBarContributor">
      </editor>
   </extension>

</plugin>
